* {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  overflow-x: hidden;
}

.headline {
  width: 375px;
  height: 682px;
  background: #1c1a19;
}

.headline nav {
  display: flex;
  background: #3c3a39;
  width: 375px;
  height: 92px;
  position: relative;
  z-index: 999999;
}

.navigation {
  align-self: flex-end;
  padding: 15px 25px;
  color: #fff;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.nav-element {
  margin-right: 222px;
}

.nav-desktop {
  display: none;
}

.nav-menu {
  display: none;
}

.nav-menu li {
  list-style: none;
}

.nav-menu.active {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: absolute;
  left: 0;
  top: 75px;
  background-color: #3c3a39;
  width: 335px;
  height: 610px;
  text-align: center;
  transition: 0.3s;
}

.lines {
  width: 327px;
  margin-left: -20px;
}

.nav-item {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  margin-top: 50px;
  padding-bottom: 15px;
}

.contact a {
  color: #dbd8d7;
}

.contact-me a {
  color: #505f79;
}

.headline nav a {
  color: #fff;
  text-decoration: none;
}

.hamburger {
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: white;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.name {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: relative;
  top: 120px;
  left: 24px;
}

.job-title {
  color: #fff5e1;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  top: 124px;
  left: 24px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  margin-right: 45px;
  position: relative;
  top: 130px;
  left: 24px;
}

.contact {
  font-size: 24px;
  position: relative;
  top: 145px;
  left: 24px;
}

button {
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  border: 0;
  padding: 0.7rem;
  margin-left: 85px;
  margin-top: 20px;
}

button:active {
  background-color: #e05304;
}

button:hover {
  cursor: pointer;
  color: #ff6b00;
  background-color: #fff581;
  border: 1px solid #ff6b00;
}

.contact a :hover {
  color: #ff6b00;
}

#logo {
  margin-left: 11px;
}

.logo {
  margin-left: 15px;
}

.illustration-header-mobile {
  float: right;
  position: relative;
  top: -80px;
  left: 40px;
}

.illustration-header {
  display: none;
}

#my-recent-works {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 3455px;
  width: 375px;
}

.recent-work h2 {
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: relative;
  left: 24px;
  top: 120px;
}

.line1 {
  position: relative;
  left: 0;
  top: 165px;
  width: 330px;
  height: 1px;
  border: 0;
}

.img-mobile {
  position: relative;
  left: -16px;
  top: 245px;
}

.img-desktop {
  display: none;
}

.recent-work h3 {
  color: #091e42;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: relative;
  left: 24px;
  top: 250px;
}

.recent-work p {
  color: #091e42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: relative;
  left: 24px;
  top: 258px;
  margin-right: 24px;
}

.recent-work span :nth-child(n) {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
  position: relative;
  left: -60px;
  top: 250px;
}

.recent-work span :nth-child(2) {
  left: -135px;
}

.recent-work span :nth-child(3) {
  left: 65px;
  top: 181.5px;
}

.recent-work span :nth-child(4) {
  left: -10px;
  top: 181.5px;
}

.recent-work a button {
  position: relative;
  left: -60px;
  top: 173px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.card-mobile a button {
  position: relative;
  left: -45px;
  top: -385px;
  width: 327px;
}

#about-me button {
  position: relative;
  left: -60px;
  top: 140px;
  margin-right: 24px;
  text-decoration: none;
}

.contact-me a :hover {
  color: #ff6b00;
}

#first {
  position: relative;
  left: -16px;
  top: 200px;
}

#second {
  position: relative;
  left: -16px;
  top: -165px;
}

#third {
  position: relative;
  left: -16px;
  top: -530px;
}

#fourth {
  position: relative;
  left: -16px;
  top: -895px;
}

#fifth {
  position: relative;
  left: -16px;
  top: -1260px;
}

#sixth {
  position: relative;
  left: -16px;
  top: -1625px;
}

.card-mobile h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: relative;
  left: 55px;
  top: -306px;
}

.card-mobile p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: relative;
  left: 54px;
  top: -302px;
}

.card-mobile span :nth-child(n) {
  position: relative;
  left: -30px;
  top: -320px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

.card-mobile span :nth-child(2) {
  left: -103px;
}

.card-mobile span :nth-child(3) {
  left: 139px;
  top: -386.3px;
}

.card-desktop {
  display: none;
}

#about-me {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  height: 1901px;
  width: 375px;
}

#about-me h1 {
  color: #ff6b00;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: relative;
  left: 24px;
  top: 120px;
}

#about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: relative;
  left: 24px;
  top: 133px;
  margin-right: 38px;
}

.group-mobile {
  position: relative;
  top: 80px;
  right: -175px;
}

.group-desktop {
  display: none;
}

.line4 {
  display: none;
}

#style1 {
  position: relative;
  left: -20px;
  top: 200px;
  text-align: center;
}

#style2 {
  position: relative;
  left: -20px;
  top: 250px;
  text-align: center;
}

#style3 {
  position: relative;
  left: -20px;
  top: 300px;
  text-align: center;
}

.list-style {
  list-style-type: none;
  font-size: 22px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 43px;
  color: #fff;
}

.title-style {
  list-style-type: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.title-style ::before {
  content: "\2022";
  color: #ff6b00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer {
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 930px;
  width: 375px;
}

#contact p {
  position: relative;
  left: 24px;
  top: 120px;
  margin-right: 50px;
  text-decoration: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

form {
  position: relative;
  left: 24px;
  top: 160px;
}

form input {
  margin-bottom: 24px;
}

.form-group input[type="text"],
input[type="email"] {
  width: 327px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 0.7rem 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

#desktop-form {
  display: none;
}

textarea {
  resize: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 12px 20px;
  border: none;
  background-color: #fbf8f7;
}

.form-group input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #7db0fb;
  outline: 0;
}

.line2 {
  color: #dfe1e6;
  position: relative;
  left: -25px;
  top: 130px;
  width: 375px;
}

.contact-me {
  color: #dbd8d7;
  font-size: 24px;
  position: relative;
  left: 40px;
  top: 160px;
}

.line3 {
  position: relative;
  left: -30px;
  top: 183px;
  width: 134px;
  border-width: 5px;
  border-radius: 10px;
}

@media screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .headline {
    width: 1440px;
    height: 870px;
  }

  .headline nav {
    width: 1440px;
    height: 72px;
  }

  .navigation {
    align-self: center;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
  }

  .hamburger {
    display: none;
  }

  .nav-element {
    margin-right: 0;
    margin-left: 131px;
  }

  .nav-menu {
    display: none;
  }

  .nav-menu.active {
    display: none;
  }

  .nav-desktop {
    display: inline;
    position: relative;
    left: 725px;
    margin-left: 32px;
    font-weight: 600;
    font-size: 15px;
  }

  .name {
    font-size: 72px;
    line-height: 81.5px;
    position: relative;
    top: 192px;
    left: 143px;
  }

  .job-title {
    font-weight: 500;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 32px;
    line-height: 44px;
    position: relative;
    top: 200px;
    left: 143px;
  }

  .description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    margin-right: 920px;
    position: relative;
    top: 210px;
    left: 143px;
  }

  .contact {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -54px;
    left: 50px;
  }

  .logo {
    margin-bottom: 16px;
  }

  .illustration-header-mobile,
  .img-mobile {
    display: none;
  }

  .illustration-header {
    display: block;
    position: relative;
    left: 739px;
    top: -640px;
    z-index: 1;
  }

  #my-recent-works {
    height: 1810px;
    width: 1440px;
  }

  .recent-work h2 {
    position: relative;
    left: 153.5px;
    top: 130px;
  }

  .line1 {
    position: relative;
    left: 180px;
    top: 108px;
    width: 794px;
  }

  .img-desktop {
    display: block;
    position: relative;
    left: 101px;
    top: 249px;
  }

  .recent-work h3 {
    font-size: 40px;
    line-height: 52px;
    position: relative;
    left: 849px;
    top: -210px;
  }

  .recent-work p {
    font-size: 20px;
    line-height: 28px;
    position: relative;
    left: 849px;
    top: -195px;
    margin-right: 970px;
  }

  .img-desktop :hover {
    transform: rotate(180deg);
  }

  .recent-work span :nth-child(n) {
    position: relative;
    left: 764px;
    top: -190px;
  }

  .recent-work span :nth-child(2) {
    left: 692px;
  }

  .recent-work span :nth-child(3) {
    left: 620px;
  }

  .recent-work span :nth-child(4) {
    left: 550px;
  }

  .recent-work a button {
    position: relative;
    left: 162px;
    top: -120px;
  }

  .card-mobile {
    display: none;
  }

  .card-desktop {
    display: block;
  }

  #one {
    position: relative;
    left: 101px;
    top: 5px;
  }

  #one button {
    width: 369px;
    height: 58px;
    position: relative;
    left: -44px;
    top: -82px;
  }

  #two {
    position: relative;
    left: 101px;
    top: -41px;
  }

  #three {
    position: relative;
    left: 494px;
    top: -1178px;
  }

  #four {
    position: relative;
    left: 494px;
    top: -1371.6px;
  }

  #five {
    position: relative;
    left: 887px;
    top: -2509px;
  }

  #six {
    position: relative;
    left: 887px;
    top: -2701px;
  }

  .card-desktop h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0.37px;
    font-family: "Crete Round", "Times New Roman", Times, serif;
    position: relative;
    left: 55px;
    top: -267px;
  }

  .card-desktop p {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.37px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    position: relative;
    left: 54px;
    top: -250px;
  }

  .card-desktop span :nth-child(n) {
    position: relative;
    left: -30px;
    top: -250px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    border: 0;
    background: rgba(255, 255, 255, 0.24);
    color: #fff;
  }

  .card-desktop span :nth-child(2) {
    left: -103px;
  }

  .card-desktop span :nth-child(3) {
    left: -176px;
  }

  #one :hover,
  #two :hover,
  #three :hover,
  #four :hover,
  #five :hover,
  #six :hover {
    transform: scale(1.01);
  }

  #about-me {
    height: 1195px;
    width: 1440px;
  }

  #about-me h1 {
    position: relative;
    left: 142px;
    top: 122px;
  }

  #about-me p {
    font-size: 20px;
    line-height: 32px;
    position: relative;
    left: 142px;
    top: 133px;
    margin-right: 870px;
  }

  #about-me button {
    position: relative;
    left: 56px;
    top: 155px;
  }

  .group-mobile {
    display: none;
  }

  .group-desktop {
    display: block;
    position: relative;
    left: 815px;
    top: -200px;
  }

  .line4 {
    display: block;
    position: relative;
    left: 0;
    top: -65px;
    width: 1156px;
    height: 1px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  }

  #style1 {
    position: relative;
    left: 150px;
    top: 75px;
    text-align: left;
  }

  #style2 {
    position: relative;
    left: 590px;
    top: -205px;
    text-align: left;
  }

  #style3 {
    position: relative;
    left: 1020px;
    top: -545px;
    text-align: left;
  }

  .list {
    padding-top: 15px;
  }

  footer {
    height: 686px;
    width: 1440px;
  }

  #contact p {
    position: relative;
    left: 135px;
    top: 120px;
    margin-right: 1015px;
    font-size: 40px;
    line-height: 52px;
    text-align: left;
  }

  #contact section :hover {
    transform: translate(12px);
    transition: ease 2s;
  }

  #mobile-form {
    display: none;
  }

  #desktop-form {
    display: block;
  }

  form {
    position: relative;
    left: 654px;
    top: -140px;
  }

  form input {
    margin-left: 24px;
  }

  .form-group input[type="email"] {
    width: 684px;
    position: relative;
    top: -70px;
  }

  textarea {
    position: relative;
    left: -690px;
    top: 75px;
    width: 650px;
  }

  #contact button {
    position: relative;
    left: -62px;
    top: 32px;
  }

  .line2 {
    position: relative;
    left: -653.7px;
    top: 210px;
    width: 1440px;
  }

  .line3 {
    display: none;
  }

  .contact-me {
    position: relative;
    left: 30px;
    top: 230px;
  }
}
