.container {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  left: 500px;
  top: 38px;
  position: absolute;
  height: 662px;
  width: 375px;
}

header nav {
  display: flex;
  background: #3c3a39;
  color: #fff;
  width: 375px;
  height: 92px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
}

header nav a {
  position: absolute;
  left: 24px;
  top: 63px;
  color: #fff;
  text-decoration: none;
}

header nav i {
  position: absolute;
  left: 331px;
  top: 63px;
}

.introduction {
  color: #ff6b00;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 24px;
  top: 212px;
}

.job-title {
  color: #fff5e1;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin-block-start: 0;
  margin-block-end: 0;
  position: absolute;
  left: 24px;
  top: 348px;
}

.description {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 24px;
  top: 387px;
}

.contact {
  color: #dbd8d7;
  font-size: 24px;
  position: absolute;
  left: 24px;
  top: 522px;
}

.contact a :hover {
  color: #ff6b00;
}

.contact a {
  color: #dbd8d7;
}

.logo1 {
  margin-left: 11px;
}

.logo2 {
  margin-left: 15px;
}

.logo3 {
  margin-left: 15px;
}

.logo4 {
  margin-left: 15px;
}

.logo5 {
  margin-left: 15px;
}

.fig1 {
  position: absolute;
  top: 470px;
  right: -40px;
}

.my-recent-works {
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  left: 500px;
  top: 700px;
  position: absolute;
  height: 3455px;
  width: 375px;
}

.recent-work h2 {
  color: #1c1a19;
  font-size: 40px;
  font-weight: 400;
  line-height: 52px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 24px;
  top: 120px;
}

.recent-work figure {
  position: absolute;
  left: -16px;
  top: 260px;
}

.recent-work h3 {
  color: #091e42;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 24px;
  top: 530px;
}

.recent-work p {
  color: #091e42;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 24px;
  top: 578px;
}

.recent-work span :nth-child(n) {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

.recent-work span :nth-child(2) {
  left: -1px;
}

.recent-work span :nth-child(3) {
  left: 65px;
}

.recent-work span :nth-child(4) {
  left: 170px;
}

button {
  background-color: #ff6b00;
  color: #fff;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 17px;
  line-height: 24px;
  border: 0;
  padding: 0.7rem;
  margin-left: 85px;
  margin-top: 20px;
}

.about-me button {
  position: absolute;
  left: -60px;
  top: 370px;
  margin-right: 24px;
  color: #fff;
  text-decoration: none;
}

.recent-work a button {
  position: absolute;
  left: -60px;
  top: 770px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.about-me p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 24px;
  top: 220px;
}

.get-in-touch p {
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
}

.contact-me a :hover {
  color: #ff6b00;
}

#first {
  position: absolute;
  left: -16px;
  top: 850px;
}

#first h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#first p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#first span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#first span :nth-child(2) {
  left: 96px;
}

#first span :nth-child(3) {
  left: 200px;
}

#first a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#first span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

#second {
  position: absolute;
  left: -16px;
  top: 1260px;
}

#second h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#second p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#second span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#second span :nth-child(2) {
  left: 96px;
}

#second span :nth-child(3) {
  left: 200px;
}

#second a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#second span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

#third {
  position: absolute;
  left: -16px;
  top: 1670px;
}

#third h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#third p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#third span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#third span :nth-child(2) {
  left: 96px;
}

#third span :nth-child(3) {
  left: 200px;
}

#third a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#third span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

#fourth {
  position: absolute;
  left: -16px;
  top: 2080px;
}

#fourth h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#fourth p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#fourth span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#fourth span :nth-child(2) {
  left: 96px;
}

#fourth span :nth-child(3) {
  left: 200px;
}

#fourth a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#fourth span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

#fifth {
  position: absolute;
  left: -16px;
  top: 2490px;
}

#fifth h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#fifth p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#fifth span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#fifth span :nth-child(2) {
  left: 96px;
}

#fifth span :nth-child(3) {
  left: 200px;
}

#fifth a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#fifth span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

#sixth {
  position: absolute;
  left: -16px;
  top: 2900px;
}

#sixth h3 {
  color: #fff;
  font-size: 32px;
  font-weight: 400;
  line-height: 44px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 54px;
  top: 100px;
}

#sixth p {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: Inter, Arial, Helvetica, sans-serif;
  position: absolute;
  left: 54px;
  top: 185px;
}

#sixth span :nth-child(n) {
  position: absolute;
  left: 30px;
  top: -447px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 0;
  background: rgba(255, 255, 255, 0.24);
  color: #fff;
}

#sixth span :nth-child(2) {
  left: 96px;
}

#sixth span :nth-child(3) {
  left: 200px;
}

#sixth a button {
  position: absolute;
  left: -45px;
  top: 336px;
  width: 327px;
}

#sixth span {
  position: absolute;
  left: -60px;
  top: 715px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-size: 15px;
  font-weight: 500;
  border: 1px solid #8993a4;
  background: #f5f5f5;
  color: #000;
}

.about-me {
  background: #1c1a19;
  display: flex;
  flex-direction: column;
  left: 500px;
  top: 4155px;
  position: absolute;
  height: 1901px;
  width: 375px;
}

.about-me h1 {
  color: #ff6b00;
  font-size: 72px;
  font-weight: 400;
  line-height: 88px;
  letter-spacing: 0.37px;
  margin-block-start: 0;
  margin-block-end: 0;
  font-family: "Crete Round", "Times New Roman", Times, serif;
  position: absolute;
  left: 24px;
  top: 120px;
}

.fig2 {
  position: absolute;
  top: 340px;
  right: -40px;
}

#style1 {
  position: absolute;
  left: 70px;
  top: 700px;
}

#style2 {
  position: absolute;
  left: 70px;
  top: 1020px;
}

#style3 {
  position: absolute;
  left: 70px;
  top: 1390px;
}

.list-style {
  list-style-type: none;
  font-size: 22px;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 400;
  line-height: 50px;
  color: #fff;
}

.title-style {
  list-style-type: none;
  font-family: Inter, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 32px;
  color: #fff;
}

.title-style ::before {
  content: "\2022";
  color: #ff6b00;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

footer {
  background: #e5e5e5;
  display: flex;
  flex-direction: column;
  left: 500px;
  top: 6056px;
  position: absolute;
  height: 930px;
  width: 375px;
}

.get-in-touch {
  position: absolute;
  left: 24px;
  top: 120px;
  margin-right: 24px;
  color: #fff;
  text-decoration: none;
}

form {
  position: absolute;
  left: 24px;
  top: 409px;
  margin-right: 24px;
}

form input {
  margin-bottom: 24px;
}

.form-group input[type="text"],
input[type="email"] {
  width: 327px;
  box-sizing: border-box;
  background: transparent;
  border: none;
  border-bottom: 1px solid #dbd8d7;
  padding: 0.7rem 2rem;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
}

textarea {
  resize: none;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 24px;
  padding: 12px 20px;
}

.form-group input[type="text"]:focus,
input[type="email"]:focus {
  border-color: #7db0fb;
  outline: 0;
}

.contact-me {
  color: #dbd8d7;
  font-size: 24px;
  position: absolute;
  left: 40px;
  top: 420px;
}

.contact-me a {
  color: #505f79;
}
